.header-container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

.search-container {
  display: flex;
}

.search-icon {
  padding-left: 10px;
}

#search-item {
  height: 32px;
  border-radius: 10px;
}

.posts-container,
.morePosts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 100px;
  gap: 50px;
}

.posts-container a,
.morePosts-container a {
  text-decoration: none;
}

.post-title {
  color: black;
  font-size: 1.2em;
  text-align: center;
  padding: 0 10px;
  text-transform: uppercase;
}

.post-title:hover {
  color: #A400DF;
}

.thumbnail {
  border-radius: 10px;
  border: 8px solid rgb(228, 226, 226);
  transition: .2s linear;
}

.thumbnail:hover {
  transform: scale(1.03); 
}

.thumbnail-posts-page img {
  width: 95%;
  height: 380px;
  border-radius: 8px;
}

.button-moreposts-container {
  padding-bottom: 30px;
}

#button-posts {
  margin: auto;
  text-align: center;
  display: grid;
  padding: 10px 14px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: orange;
  border-radius: 8px;
}

#button-posts:hover {
  background-color: rgb(177, 74, 246);

}
