@import "imports/variables.css";

@font-face {
  font-family: var(--text-heading), serif;
  src: url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,700;1,400&display=swap");
}

h1, h2, h3 {
  font-family: var(--text-heading), Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--header-color);
  font-family: var(--text-heading), serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.header-container {
  background-color: var(--header-color);
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  align-items: center;
}

.logo-container {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.logo {
  width: 35vh;
  margin: auto;
}

.search-icon,
.fa-user {
  font-size: 2em;
  color: black;
}

.fa-user:hover {
  color: var(--color-footer);
}

nav a {
  text-decoration: none;
  font-size: 1.8em;
  color: black;
  font-weight: bold;
  font-family: var(--text-paragraph), Arial, sans-serif;
}

nav a:hover {
  color: var(--color-footer);
}

nav ul {
  list-style-type: none;
}

.home-navigation {
  background-color: var(--background-color);
}

.nav-container {
  display: flex;
  margin: 0 120px;
  justify-content: space-between;
  padding-left: 0;
  min-height: 15vh;
  align-items: center;
}

main {
  background-color: var(--background-color);
}

.visible-hidden {
  display: none;
}

footer {
  margin: 0;
  background-color: var(--background-color);
  padding-left: 100px;
  padding-right: 100px;
}

.footer-container {
  background-color: var(--color-footer);
  color: white;
}

.footer-container nav a:hover {
  color: white;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.name-logo {
  font-size: 2.8em;
  text-align: center;
  color: var(--color-footer);
  margin-top: 0;
  padding-top: 30px;
}

.footer-logo {
  text-decoration: none;
  font-family: var(--text-heading);
}

.footer-logo-white h2 {
  color: white;
}

footer nav {
  margin: 0 100px;
}

#contact-extra-padding {
  padding-right: 50px;
}


.social-media-container {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.social-media-container a {
  color: black;
}

.social-media-container a:hover {
  color: white;
}

.social-media-container i {
  font-size: 1.8em;
  margin: 0 10px;
}

.privacy-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.message-success {
  display: none;
}

.form-error {
  display: none;
}